:root {
  font-family: Fira Sans, sans-serif;
  font-weight: 400;

  color: #282626;
  --alive-color: #287606;
  --dead-color: #830c0c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display: contents;
  text-decoration: none;
  color: unset;
}
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1, h1, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

p {
  margin: 0;
}

